<div class="container">
    <div class="card-header">
    <h2>Your Profile</h2>
    <% if employee_signed_in? %>
    <% check = 0, links='1', id=nil%>
    <% Profile.all.each do |profile| %>
      <% if current_employee.id == profile.employee_id %>
        <% check = 1%>
        <%links = profile.image.url %>
        <%id =profile%>
        <% end %> 
      <% end %>
   
   <% if check==1 %>
   <span style="color:white"><hr></span>
    <p style="color:white"><%= image_tag links, class:"round" unless links.blank? %> 
    <% if employee_signed_in?%>
    <% end %>
    </p>
     <%= link_to 'Edit Profile Picture', edit_profile_path(id) %>
    <%= link_to 'Remove Picture', profile_path(id), method: :delete, data: { confirm: 'Are you sure?' } %>
    
    <% else %>
    <p><i class="fal fa-user"></i></p>
    <%= link_to 'upload a profile picture', new_profile_path %>
    <% end %>
   <% end %>
    </div>
    <div class="card-body">
        <p><b>First name: <%= @employee.first_name%></b></p>
        <p><b>Lastname: <%= @employee.last_name%></p></b>
        <p><b>Email: <%= @employee.email%></p></b>
        <p><b>Birth_date: <%= @employee.birth_date%></b></p>
        <p><b>Admin: <%= @employee.admin%></b></p>
    </div>
    <div class="card-footer">
        <%= link_to 'Back', posts_path%>
        <%= link_to 'Edit', edit_employee_registration_url(@employee) %>
    </div>
</div>
