<div class="container">
  <%= form_with(model: leafe, local: true) do |form| %>
    <% if leafe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(leafe.errors.count, "error") %> prohibited this leafe from being saved:</h2>

        <ul>
        <% leafe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :leave_type %>
      <%= form.select :leave_type, ["Sick leave", "Personal leave", "Maternity leave" ], {:prompt => "Select type of leave"}, class:"mdb-select md-form form-control", style:"width: 40rem" %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control", style:"width: 40rem" %>
    </div>
    <% if current_employee.admin? %>
    <div class:"form-group">
      <%= form.label :status %>
      <%= form.radio_button :status, 'Waiting' %> Waiting <%= form.radio_button :status, 'Approved' %> Approved <%= form.radio_button :status, 'Denied' %> Deny <br />
    </div>
    <%end%>

    <div class="field">
    <%= form.hidden_field :employee_id, value: current_employee.id %>
    </div>
      
    <div class="actions">
      <%= form.submit class:"btn btn-primary float-left", style:"margin-right: 10px;" %>
    </div>
  <% end %>

</div>