<%= form_with(model: leafe, local: true) do |form| %>
  <% if leafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leafe.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% leafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :leave_type %>
  <%= form.text_field :leave_type %>
  </div> 

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%if current_employee.admin? %>
    <div class:"form-group">
      <%= form.label :status %>
      <%= form.radio_button :status, 'Awaiting' %> Awaiting <%= form.radio_button :status, 'Approved' %> Approve <%= form.radio_button :status, 'Denied' %> Deny<br />
    </div>
  <%end%>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, value: current_employee.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
