<div class="card post-card">
  <div class="card-header">
    <%= @post.employee.first_name %>
  </div>
  <div class="card-body">
    <%= @post.title %>
    <%= @post.content %>
    <%= image_tag @post.image.url, size: "300x300" unless @post.image.url.blank? %>
  </div>

  <%= render 'comments/comment'%>

  <div class="card-footer">
    <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-warning"%> |
    <%= link_to 'Back', posts_path, class:"btn btn-secondary" %>
  </div>
</div>